/* Main Area CSS */
/* 
    Card CSS
*/
.thumbnail-image{
    height: 225px;
}

.arrow-btn, .modal-close-btn{
    cursor: pointer;
}

.price-container{
    width: 200px !important;
}

.modal-close-btn {
    top: -3% !important;
    right: -1% !important;
}
